 .u-section-1 {
  min-height: 465px;
}

.u-section-1 .u-image-1 {
  height: 399px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 438px;
  min-height: 399px;
  margin: -399px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 12px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 66px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 947px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1481px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 15px;
}

.u-section-2 .u-text-2 {
  line-height: 25.6px;
  margin: 16px 15px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-align: justify;
  margin: 42px 0 0 15px;
}

.u-section-2 .u-text-4 {
  margin: 20px 15px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 663px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 17px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1221px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -287px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -1656px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -133px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 195px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 233px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -1774px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 147px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1041px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1041px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1346px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  width: 650px;
  margin: 353px 0 0;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 507px;
  width: 650px;
  margin: 100px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 858px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 1110px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 470px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 441px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 360px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 762px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 364px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 517px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 861px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 853px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 66px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 853px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px 73px 0 35px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.6;
  margin: 15px 73px 0 35px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 765px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 703px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 703px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 8px;
    width: 455px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 611px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    width: 345px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 964px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 807px;
  }

  .u-section-4 .u-text-1 {
    width: 430px;
  }

  .u-section-4 .u-text-2 {
    width: 364px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 683px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 766px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 90px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 817px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 757px;
  height: auto;
  margin: 0 120px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 817px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-custom-html-2 {
  height: auto;
  min-height: 757px;
  width: 450px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 674px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 350px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-custom-html-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 774px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 774px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 487px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 737px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 766px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 57px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 17px 0 0 24px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 766px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  width: 650px;
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 608px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-6 .u-text-2 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 632px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 200px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 364px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 737px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 737px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  margin: 0 17px 0 44px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 737px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-custom-html-2 {
  height: auto;
  min-height: 65px;
  width: 650px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 608px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 608px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 200px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-custom-html-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/ScreenShot2021-11-23at6.27.18PM.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-8 .u-accordion-1 {
  width: 570px;
  margin: 156px auto 0 0;
}

.u-section-8 .u-accordion-link-1 {
  font-size: 2.25rem;
  text-decoration: underline !important;
  font-weight: 700;
}

.u-section-8 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 704px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-shape-1 {
  width: 101px;
  height: 46px;
  color: rgb(0, 0, 0) !important;
  margin: -433px 223px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-size: 400%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-8 .u-accordion-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 674px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 661px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1117px;
  margin: 60px 0 0 auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 601px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 42px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 521px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 45px auto 0;
}

.u-section-10 .u-text-2 {
  margin: -11px 26px 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }
}